@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    height: 17vh;
    background-color: #f1f5f9;
    display: flex;
    align-items: center;
    padding: 0 12px;
}
header#contagem{
    background-color: #ff8200;
    font-family: "Archivo Black", sans-serif;
}
.txt-contagem{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header#contagem h1{
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}
header img{
    width: 170px;
}
main {
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff8200;
}
#main-contagem{
    background-color: #f1f5f9;
    height: 65vh;
    display: flex;
}
.varias-imgs,.login{
    position: relative;
    bottom: 19%;
}
.varias-imgs img{
    width: 450px;
}
.login {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
}

.login label {
    font-family: "Archivo Black", sans-serif;
    color: #fee600;
    text-transform: uppercase;
    font-size: 30px;
}

.login input, 
.login button {
    width: 80%;
    height: 6vh;
    border-radius: 6px;
    border: none;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.login button {
    text-transform: uppercase;
    background-color: #7ed957;
    font-weight: bold;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
#escolher-sala-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
}
.escolha-sala{
    height: 25vh;
    width: 25vw;
    background-color: #ffdf2b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.escolha-sala:nth-child(2){
    background-color: #13b818;
}
.escolha-sala:nth-child(3){
    background-color: #ff652d;
}
.escolha-sala:nth-child(4){
    background-color: #ff8200;
}
.escolha-sala:nth-child(5){
    background-color:#8b97fd;
}

.escolha-sala p{
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
footer#footer-contagem{
    width: 100%;
    height: 18vh;
    background-color: #f1f5f9;
    display: flex;
    justify-content: space-between;
}
footer#footer-contagem img{
    height: 230px;

}  
#img1-footer-contagem{
    position: relative;
    bottom: 20px;
    right: 30px;
}
#img2-footer-contagem{
    position: relative;
    left: 80px;
    bottom: 30px;
}
